<a href="https://colab.research.google.com/github/Zuckmo/Decision_Tree/blob/main/Train_DecisionTree_For_Drug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd

In [20]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
file_path = "/content/drive/My Drive/dataset/drug200.csv"

In [22]:
data = pd.read_csv(file_path)

In [23]:
print(data)

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [24]:
chol = data["Cholesterol"].unique()
print(chol)

['HIGH' 'NORMAL']

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [26]:
#encoding data sex menggunakan binary
sex_encoded = data.copy()
sex_encoded = sex_encoded['Sex'].map({'M': 0, 'F': 1})
sex_encoded.drop(columns=['Sex'], inplace=True)  # Menghapus kolom 'sex' yang belum dienkripsi

# Menyatukan DataFrame yang sudah dienkripsi dengan data asli
data_gabungan = pd.concat([data, sex_encoded], axis=1)

# Tampilkan DataFrame hasil penyatuan
print(data_gabungan)

     Age  Sex      BP Cholesterol  Na_to_K   Drug  Sex
0     23    F    HIGH        HIGH   25.355  drugY    1
1     47    M     LOW        HIGH   13.093  drugC    0
2     47    M     LOW        HIGH   10.114  drugC    0
3     28    F  NORMAL        HIGH    7.798  drugX    1
4     61    F     LOW        HIGH   18.043  drugY    1
..   ...  ...     ...         ...      ...    ...  ...
195   56    F     LOW        HIGH   11.567  drugC    1
196   16    M     LOW        HIGH   12.006  drugC    0
197   52    M  NORMAL        HIGH    9.894  drugX    0
198   23    M  NORMAL      NORMAL   14.020  drugX    0
199   40    F     LOW      NORMAL   11.349  drugX    1

[200 rows x 7 columns]

In [27]:
#encoding Labelencoding untuk kolom BP dan Cholesterol
from sklearn.preprocessing import LabelEncoder

#inisialisasi
label_encoder1 = LabelEncoder()
label_encoder2 = LabelEncoder()
label_encoder3 = LabelEncoder()

#enkode kategori setiap kolom
data_gabungan["BP_enc"] = label_encoder1.fit_transform(data_gabungan["BP"])
data_gabungan["cholestrol_enc"] = label_encoder2.fit_transform(data_gabungan["Cholesterol"])


print(data_gabungan)

     Age  Sex      BP Cholesterol  Na_to_K   Drug  Sex  BP_enc  cholestrol_enc
0     23    F    HIGH        HIGH   25.355  drugY    1       0               0
1     47    M     LOW        HIGH   13.093  drugC    0       1               0
2     47    M     LOW        HIGH   10.114  drugC    0       1               0
3     28    F  NORMAL        HIGH    7.798  drugX    1       2               0
4     61    F     LOW        HIGH   18.043  drugY    1       1               0
..   ...  ...     ...         ...      ...    ...  ...     ...             ...
195   56    F     LOW        HIGH   11.567  drugC    1       1               0
196   16    M     LOW        HIGH   12.006  drugC    0       1               0
197   52    M  NORMAL        HIGH    9.894  drugX    0       2               0
198   23    M  NORMAL      NORMAL   14.020  drugX    0       2               1
199   40    F     LOW      NORMAL   11.349  drugX    1       1               1

[200 rows x 9 columns]

In [28]:
drug = data_gabungan['Drug'].unique()
print(drug)

['drugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [29]:
#hapus kolom yg gak di encode
hapuskolom = ['Sex', 'BP', 'Cholesterol']
data_baru = data_gabungan.drop(columns=hapuskolom)
print(data_baru)

     Age  Na_to_K   Drug  BP_enc  cholestrol_enc
0     23   25.355  drugY       0               0
1     47   13.093  drugC       1               0
2     47   10.114  drugC       1               0
3     28    7.798  drugX       2               0
4     61   18.043  drugY       1               0
..   ...      ...    ...     ...             ...
195   56   11.567  drugC       1               0
196   16   12.006  drugC       1               0
197   52    9.894  drugX       2               0
198   23   14.020  drugX       2               1
199   40   11.349  drugX       1               1

[200 rows x 5 columns]

In [30]:
data_baru.dtypes

Age                 int64
Na_to_K           float64
Drug               object
BP_enc              int64
cholestrol_enc      int64
dtype: object

In [31]:
x = data_baru.drop(columns="Drug")
y = data_baru.Drug

In [32]:
drug = data_baru['Drug'].unique()
print(drug)

['drugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [33]:
print(y)

0      drugY
1      drugC
2      drugC
3      drugX
4      drugY
       ...
195    drugC
196    drugC
197    drugX
198    drugX
199    drugX
Name: Drug, Length: 200, dtype: object

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [35]:
from sklearn.tree import DecisionTreeClassifier

# membuat model Decision Tree
tree_model = DecisionTreeClassifier()

# Melatih model dengan menggunakan data latih
tree_model = tree_model.fit(x_train, y_train)

In [37]:
from sklearn.metrics import accuracy_score
y_pred = tree_model.predict(x_test)

acc_score = accuracy_score(y_pred, y_test)

print('accuracy score= ', acc_score)

accuracy score=  1.0

In [39]:
x_train.head()

     Age  Na_to_K  BP_enc  cholestrol_enc
79    32   10.840       1               1
197   52    9.894       2               0
38    39    9.709       2               1
24    33   33.486       1               0
122   34   22.456       2               0

In [43]:
tree_model.predict([[50, 10, 0, 0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['drugA'], dtype=object)